.super-mario {
    width: 120px;
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 15px;
  }
  
  .goomba {
    width: 80px;
    position: absolute;
    top: 230px;
    left: 50px;
  }
  
  .baloon {
    position: absolute;
    width: 150px;
    left: 200px;
    top: 60px;
  }
  
  .speach {
    position: absolute;
    font-size: 13px;
    top: 78px;
    left: 207px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 90px;
    left: 340px;
  }